{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="flex items-center justify-center min-h-screen py-4 sm:py-0">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <img src="{% static 'img/logo.jpeg' %}" alt="" width="220px">
      <h1>Welcome to <strong>TopITSolutions</strong></h1>
    </div>
    <p></p>

    <h2 class="text-center">Please Scan to begin</h2>
    <div class="visible-print text-center">
      <div class="mx-auto" style="width: fit-content;">
        <img src="{{obj.qr_code.url}}" alt="">
      </div>
    </div>

    <div class="flex justify-center mt-4 sm:mt-8">
      <div class="text-center text-sm text-gray-500">
        <i data-feather="phone"></i> Service Desk: 093-55-55-55
      </div>

      <div class="text-center text-sm text-gray-500 ml-4">
        Copyright &copy; TopITSolutions 2024 | <a href="{% url 'login' %}">LogIn</a> | <a href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
